<script>
  window.__INITIAL_SUBCATEGORIES__ = {{{json subcategories}}};
  window.__INITIAL_CATEGORIES__ = {{{json categories}}};
</script>

<div id="vue-subcategories-app">Loading...</div>

{{#if vueScript}}
  <script type="module" src="{{vueScript}}"></script>
{{/if}}
