{{!-- users.hbs --}}

{{!-- Page Title --}}
<h1 class="page-title">Manage Users</h1>

{{!-- Vue Root Mount Point --}}
<div
  id="user-manager"
  data-initial-users='{{{json initialUsers}}}'   {{!-- triple-mustache: prevents auto-escaping --}}
  data-roles='{{{json roles}}}'
></div>

{{!-- Vue Client Hydration --}}
<script type="module" src="{{vueScript}}"></script>
